body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

span {
  text-decoration: underline;
}

p {
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #EAF6F6;
  width: 5%;
  margin: 100px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
  margin: 50px 0;
}

a {
  color: #11999E;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  position: relative;
  margin-bottom: 75px;
  margin-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  padding-top: 50px;
}

.footer-link {
  padding: 10px;
  text-decoration: none;
  font-family: 'Montserrat' sans-serif;
}

a:hover {
  color: #EAF6F6;
}

.description {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.image1 {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.image2 {
  width: 25%;
  height: 160px;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}

.my-image {
  height: 150px;
}

.coffee-para {
  margin-bottom: 50px;
  width: 30%;
  margin: 50px auto;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat' sans-serif;
}

.copywright {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
